<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <a class="navbar-brand" href="#">Tienda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-danger" >Salir</button>
        </li>
      
    </ul>
  </div>
</nav>

<br>

<div class="container">

  <div id ="item " style="float: left;">
    <div class="dropdown" >
      <button class="btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#!">Action</a>
        <a class="dropdown-item" href="#!">Another action</a>
      </div>
      <button type="button" class="btn btn-primary" id="item" style="margin-left: 10px;">Agregar</button>
  </div>

 


  </div>

  
</div>
 <br>



<br>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio de unitario</th>
        <th>Subtotal </th>
        <th>Eliminar</th>
      </tr> 
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td> <input type="number" name="" id=""></td>
        <td>233</td>
        <td>233</td>
        <td> <button type="button" class="btn btn-danger">Quitar  </button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td> <input type="number" name="" id=""></td>
        <td>45</td>
        <td>45</td>
        <td> <button type="button" class="btn btn-danger">Quitar  </button></td>
      </tr>
      <tr> 
        <td>Total</td>
        <td></td>
        <td></td>
        <td><input type="number" name="" id="" value="1000" readonly></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" style="margin-left: 90%;">Cobrar</button>

</div>

