<div class="wrapper">
    <div class="logo"> <img src="https://www.freepnglogos.com/uploads/bag-png/bag-shop-shopper-image-pixabay-19.png" alt=""> </div>
    <div class="text-center mt-4 name"> Shoppe </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="userName" id="userName" placeholder="Numero de Empleado"> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Contraseña"> </div> <button class="btn mt-3">Entrar</button>
    </form>
</div>
